<!doctype html>
<html  lang="en" ng-app="productSelector">
<head>

	<title>Product comparator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel='stylesheet' type='text/css' href="css/style.css" />

</head>
<body>
	

		<div id="main" ng-controller="ProductController as productController" >
			<div id="title"><h1>Compare products</h1></div>
			
				<responsive-mobile>
				
					<section id="tab">
						<ul class="nav navbar-nav">
							<li ng-class="{active: productController.isTabSelected(0)}" ><a ng-click="productController.selectTab(0)" href="">{{product0.name|truncate:15}}</a></li><li ng-class="{active: productController.isTabSelected(1)}" ><a ng-click="productController.selectTab(1)" href="">{{product1.name|truncate:15}}</a></li><li ng-class="{active: productController.isTabSelected(2)}" ><a ng-click="productController.selectTab(2)" href="">{{product2.name|truncate:15}}</a></li>
						</ul>
					</section>
				
			</responsive-mobile>
			
			
				<div id="productLists">
					<select ng-model="product0" ng-init="product0=productController.products[0]" ng-options="product.name for product in productController.products | filter:{ name : '!'+product1.name }| filter:{ name : '!'+product2.name }"  ng-show="productController.isTabSelected(0)||!productController.isMobile()">
						      <option value="">-- choose product --</option>
					</select>
					<select ng-model="product1" ng-init="product1=productController.products[1]" ng-options="product.name for product in productController.products | filter:{ name : '!'+product0.name }| filter:{ name : '!'+product2.name }" ng-show="productController.isTabSelected(1)||!productController.isMobile()">
						      <option value="">-- choose product --</option>
					</select>
					<select ng-model="product2" ng-init="product2=productController.products[2]" ng-options="product.name for product in productController.products | filter:{ name : '!'+product0.name }| filter:{ name : '!'+product1.name }" ng-show="productController.isTabSelected(2)||!productController.isMobile()">
						      <option value="">-- choose product --</option>
					</select>
				</div><!--productLists-->
			
		
			<div class="col">
				<div id="comparator1" >
					<p><b>{{product0.name}}</b></p>
					<p>{{product0.price | currency}}</p>
					<p>{{product0.os}}</p>
					<p>{{product0.dimensions}}</p>
					<p>{{product0.weight}}</p>
					<p>{{product0.transportWeight}}</p>
					<p>{{product0.processor}}</p>
					<p>{{product0.processorSpeed}}</p>
					<p>{{product0.ram}}</p>
					<p>{{product0.typeOfStorage}}</p>
					<p>{{product0.storageCapacity}}</p>
				</div>
				<div id="comparator2">
					<p><b>{{product1.name}}</b></p>
					<p>{{product1.price | currency}}</p>
					<p>{{product1.os}}</p>
					<p>{{product1.dimensions}}</p>
					<p>{{product1.weight}}</p>
					<p>{{product1.transportWeight}}</p>
					<p>{{product1.processor}}</p>
					<p>{{product1.processorSpeed}}</p>
					<p>{{product1.ram}}</p>
					<p>{{product1.typeOfStorage}}</p>
					<p>{{product1.storageCapacity}}</p>
				</div>
				<div id="comparator3" >
					<p><b>{{product2.name}}</b></p>
					<p>{{product2.price | currency}}</p>
					<p>{{product2.os}}</p>
					<p>{{product2.dimensions}}</p>
					<p>{{product2.weight}}</p>
					<p>{{product2.transportWeight}}</p>
					<p>{{product2.processor}}</p>
					<p>{{product2.processorSpeed}}</p>
					<p>{{product2.ram}}</p>
					<p>{{product2.typeOfStorage}}</p>
					<p>{{product2.storageCapacity}}</p>
				</div>
			</div><!--comparators -->
			
		</div><!-- main -->

	
	
	<script type="text/javascript" src="js/angular.min.js" ></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/app.js" ></script>

</body>
</html>