html, body { 
  height:100%; 
  padding:0;
  margin:0;
}
body {
  margin: 0;
   overflow: visible;
  padding: 2px;
}
a {
  color:#383737;
}
* {
  font-family: 'Droid Sans', sans-serif;
}

.col {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}